* {
	font-family: 'Helvetica Neue';
	margin:0;
	padding:0;
	list-style-type: none;
}

a {
	cursor:pointer;
}

.gigster {
	padding:30px;
}

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding:5px 10px;
	border-radius:2px;
	background: #eee;
	margin-right:10px;
	color:#000;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.8rem;
	letter-spacing:0.03rem;

	&:last-child {
		margin-right:0;
	}

	&:hover {
		filter: brightness(90%);
	}

	&-edit {
		background: #e4c442;
		color:#fff;
	}

	&-delete {
		background: #c90000;
		color:#ffd7d7;
	}

	&-accept {
		background: #5fc900;
		color:#fff;
	}
}