* {
	font-family: 'Helvetica Neue';
	margin:0;
	padding:0;
	list-style-type: none;
}

a {
	cursor:pointer;
}

.gigster {
	padding:30px;
}

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding:5px 10px;
	border-radius:2px;
	background: #eee;
	margin-right:10px;
	color:#000;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.8rem;
	letter-spacing:0.03rem;

	&:last-child {
		margin-right:0;
	}

	&:hover {
		filter: brightness(90%);
	}

	&-edit {
		background: #e4c442;
		color:#fff;
	}

	&-delete {
		background: #c90000;
		color:#ffd7d7;
	}

	&-accept {
		background: #5fc900;
		color:#fff;
	}
}

/* Color Theme Swatches in Hex */
$Graphic-Design-1-hex: #182619;
$Graphic-Design-2-hex: #868C7D;
$Graphic-Design-3-hex: #3D4033;
$Graphic-Design-4-hex: #F2F2F2;
$Graphic-Design-5-hex: #0D0D0D;

/* Color Theme Swatches in RGBA */
$Graphic-Design-1-rgba: rgba(24,38,25, 1);
$Graphic-Design-2-rgba: rgba(134,140,124, 1);
$Graphic-Design-3-rgba: rgba(60,63,51, 1);
$Graphic-Design-4-rgba: rgba(242,242,242, 1);
$Graphic-Design-5-rgba: rgba(12,12,12, 1);

/* Color Theme Swatches in HSLA */
$Graphic-Design-1-hsla: hsla(123, 22, 12, 1);
$Graphic-Design-2-hsla: hsla(84, 6, 51, 1);
$Graphic-Design-3-hsla: hsla(73, 11, 22, 1);
$Graphic-Design-4-hsla: hsla(0, 0, 95, 1);
$Graphic-Design-5-hsla: hsla(0, 0, 5, 1);