.gig {
	&__list {
		padding:20px;

		p {
			margin-bottom: 15px;
		}

		ul {
			display: flex;

			li {
				display: flex;
				width:33%;
				flex-direction: column;
				justify-content: center;
				border: 1px solid #ddd;
				padding: 10px;
			}
		}
	}
}