.gig {
	&__card {
		display: flex;
		flex-direction: column;
		position: relative;
		width:100%;
		border: 1px solid #ddd;
		padding: 10px;
		margin:10px 10px 25px 10px;
		border-radius: 3px;

		h1, h2, p {
			display: flex;
		}

		h1 {
			display: flex;
			align-items:center;
			font-size:1rem;
			text-transform: uppercase;
			border-bottom: 1px solid #ddd;
			padding-bottom: 10px;

			small {
				margin-left: auto;
				color:#f44242;
			}

			p {
				margin-left:10px;
				font-size:0.8rem;
			}
		}

		img {
			width:200px;
			margin:10px 0;
		}
	}

	&__on-tour {
		position: absolute;
		top: -21px;
		left: 0;
		background: rgb(82, 67, 170);
		color: #fff;
		text-transform: uppercase;
		font-size: 0.8rem;
		padding: 2px 5px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}

	&__tags {
		min-height: 50px;
		flex-flow: wrap;
		margin-top: 10px;

		.tag {
			display: inline-table;
			background: #f44242;
			color: #fff;
			text-transform: uppercase;
			font-size: 0.8rem;
			padding: 2px 5px;
			border-radius: 3px;
			margin: 0 5px 5px 0;
		}
	}
}